<?php
/**
 * -- creator container
 * -- content is updated in the creatorPreInitializeCallback function
 */
?>
<?php
/** @var Shirtplatform\Creator\Block\Product\Creator $block */
$product = $block->getProduct();
$quoteItem = null;

if ($block->isItemEditPage()) {
    $quoteItem = $block->getItem();
}

if ($product and $product->getShirtplatformId()):
    ?>
    <div id="shirtplatform_creator" style="width: 100%; height: 600px;">
        <!--creator replacement content - you can add you short lived content here -->
    </div>

    <script type="text/javascript">
        function setCreatorDiscounts(){
            if (typeof window.isCreatorLoaded !== 'undefined'){
                shirtplatform.creator.api.Discounts.setQuantityRules(window.creatorDiscounts.rules);
                shirtplatform.creator.api.Discounts.setProductExclusionList(window.creatorDiscounts.exclusionList);
                shirtplatform.creator.api.Discounts.setCurrentBasketQuantity(window.creatorDiscounts.currentBasketQuantity);
            }
        }

        function creatorPreInitializeCallback(xmlSnippet, scriptUrl) {
            document.getElementById('shirtplatform_creator').innerHTML = xmlSnippet.content;
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = scriptUrl;
            script.async = 'async';
            document.body.appendChild(script);
        }

        //overrides default cretor config
        let config = <?php echo $block->getCreatorConfig();?>;

        /**
         * called when creator API is ready, before creator enters initialization procedure
         */
        function creatorApiInitializeCallback(configure) {            
            configure(config);                        
        }

        /**
         * called from creator after loading procedure finished
         */
        var firstCreatorProductChange = true;
        function creatorStartCallback() {
            window.isCreatorLoaded = true;
            if (typeof window.creatorDiscounts !== 'undefined'){
                setCreatorDiscounts();
            }

            shirtplatform.creator.api.CurrentDesign.setProductChangeCallback(function(productId) {
                if(firstCreatorProductChange) {
                    firstCreatorProductChange = false;
                    return true;
                }

                jQuery.get('<?= $escaper->escapeUrl($block->getChangeProductUrl());?>', {productId: productId}, function(result) {
                    if(result.state === 0) {
                        window.location.reload();
                        return;
                    }

                    if (result.breadcrumbs) {
                        jQuery('.breadcrumbs:eq(0)').replaceWith(jQuery(result.breadcrumbs));
                    }

                    document.title = result.title;
                    window.history.pushState({page: ''}, '', result.url);
                    shirtplatform.creator.api.DesignedSharedProduct.setSharedDesignUrl(result.url);
                });
            });

            <?php if ($quoteItem): ?>
                        shirtplatform.creator.api.Creator.loadDesignedOrderedProduct(
                <?php echo $escaper->escapeJs($quoteItem->getShirtplatformId()); ?>, '<?php echo $escaper->escapeJs($quoteItem->getShirtplatformUuid()); ?>'
                                );
            <?php else: ?>
                        shirtplatform.creator.api.Creator.setDefaultProduct(<?php echo $escaper->escapeJs($product->getShirtplatformId()); ?>);
            <?php endif; ?>


            <?php if($block->getOpenMotiveCategoryId() != null) : ?>
                shirtplatform.creator.api.Creator.openMotiveCategory(<?= $escaper->escapeJs($block->getOpenMotiveCategoryId());?>);
            <?php endif; ?>

            <?php if($block->getSharedProductId() != null): ?>
                shirtplatform.creator.api.Creator.loadSharedProduct('<?= $escaper->escapeJs($block->getSharedProductId());?>');
            <?php endif; ?>

            <?php if ($productBaseUrl = $block->getProductBaseUrl()): ?>
                shirtplatform.creator.api.DesignedSharedProduct.setSharedDesignUrl('<?= $escaper->escapeUrl($productBaseUrl) ?>');
            <?php endif ?>
        };
    </script>
    <script type="text/javascript">
        require(['jquery', 'Magento_Customer/js/customer-data'], function ($, customerData) {
            const rules = new Map();
            let exclusionList = [];
            let discountRules = <?php echo $block->getDiscountRules('%common discount%') ?>;

            if (discountRules.length > 0){
                discountRules.forEach(rule => {
                    rules.set(rule.qty, rule.amount);
                    rule.exclusions.forEach(exclusion => {
                        let id = parseInt(exclusion.replace('BP', ''));
                        if (!exclusionList.includes(id)){
                            exclusionList.push(id);
                        }
                    });
                });

                window.creatorDiscounts = {
                    rules: rules,
                    exclusionList: exclusionList,
                    currentBasketQuantity: 0
                };
                setCreatorDiscounts();

                customerData.get('cart').subscribe(function(cart){
                    let currentBasketQuantity = 0;
                    cart.items.forEach(item => {
                        let firstSkuPart = item.product_sku.substring(0, item.product_sku.indexOf('-'));
                        let id = parseInt(firstSkuPart.replace('BP', ''));
                        if (!exclusionList.includes(id)){
                            currentBasketQuantity += item.qty;
                        }
                    });
                    window.creatorDiscounts.currentBasketQuantity = currentBasketQuantity;
                    setCreatorDiscounts();
                });
            }

            window.creatorAddToBasketCallback = function (variantsData) {                
                var postData = {data: {}}, postVariants = [];
                var variantData;

                $.each(variantsData, function (key, variant) {
                    variantData = {
                        id: variant['id'],
                        amount: variant['amount'],
                        price: variant['price'],
                        uuid: variant['uuid'],
                        color: {
                            color: {
                                name: variant['color']['color']['name']
                            },
                            id: variant['color']['id']
                        },
                        size: {
                            size: {
                                name: variant['size']['size']['name']
                            },
                            id: variant['size']['id']
                        },
                        design: {
                            product: {
                                id: variant['design']['product']['id']
                            }
                        },
                        order: {
                            id: variant['order']['id']
                        }
                    };

                    if (variant['teamDesignCollection']) {
                        variantData.teamDesignCollection = {
                            id: variant['teamDesignCollection']['id']
                        }
                    }

                    postVariants.push(variantData);
                });

    <?php if ($quoteItem): ?>
                    var ajaxUrl = '<?php echo $escaper->escapeUrl($this->getUrl('shirtplatform_creator/product/editItem')); ?>';
                    postData.data.editedProductId = <?php echo $escaper->escapeJs($quoteItem->getShirtplatformId()); ?>;
    <?php else: ?>
                    var ajaxUrl = '<?php echo $escaper->escapeUrl($this->getUrl('shirtplatform_creator/product/addToCart')); ?>';
    <?php endif; ?>

                postData.data.variants = postVariants;
                $.ajax({
                    url: ajaxUrl,
                    data: postData,
                    method: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                        $('[data-block="minicart"]').trigger('contentLoading');
                    },
                    complete: function () {
                        $('[data-block="minicart"]').trigger('contentUpdated');
                    }
                });
            }
        }
        );
    </script>
    <script type="text/javascript" src="<?php echo $escaper->escapeUrl($block->getCreatorJavascriptFile()); ?>" async="async"></script>
<?php endif; ?>