<?php
$designImages = $block->getDesignImages();
if (!empty($designImages)) {
    $mouseOverImages = $block->getMouseOverImages();
    ?>
    <div class="designed-images">
        <?php $firstImageUrl = reset($designImages); ?>
        <div class="image">
            <img src="<?php echo $escaper->escapeUrl($firstImageUrl); ?>" alt="<?php echo $escaper->escapeHtmlAttr($block->getAlt()); ?>" />
            <?php $width = count($mouseOverImages) * 220 + 2; ?>
            <ul class="mouseover-images" style="width: <?php echo $escaper->escapeHtml($width); ?>px;">
                <?php foreach ($mouseOverImages as $imageId => $imageUrl) { ?>
                    <li><img src="<?php echo $escaper->escapeUrl($mouseOverImages[$imageId]); ?>" alt="" /></li>
                <?php } ?>
            </ul>
        </div>                
    </div>
    <?php
}
?>